:root {
    --bg-color: #121212;
    --answers-bg: #1e1e1e;
    --footer-bg: #252525;
    --text-color: #E9ECEF;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
}

form {
    margin: 20px auto;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

#results {
    flex-grow: 1; 
}

.question {
    font-weight: bold;
    margin-top: 3rem;
}

.answers {
    list-style: none;
    padding: 0;
}

.answers li {
    background: var(--answers-bg);
    width: 75%;
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 5px;
}

.footer {
    background-color: var(--footer-bg); 
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: auto;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}